
<% content_for :title, "Doppelkopf" %>

  <div class="row">
    <div class="large-12 columns">
      <h1>Doppelkopf</h1>
      <p>Warte auf Mitspieler...</p>

      	<%= @game %>
      	<% @players.each do |player| %>
      		<p>Player : <%=player.email %> </p>
      	<% end %>

		<%=link_to "Join Game", home_index_path(game: @game), class: "button button-primary" %>



    </div>
    <%=link_to "show Play!", home_play_path(players: @players), class: "button button-primary" %>
  </div>
 
 
 <%=@player1%>
 <%=@player2%>
 <%=@player3%>
 <%=@player4%>
